/*csslint box-sizing: false, universal-selector: false */

@import "colors";
@import "measures";
@import "transitions";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

body {
  font: 400 14px "Source Sans Pro";
  background-color: $app-background-color;
  color: $text-color;
}

h1, h2 {
  font-weight: 400;
}

@import "home";
@import "link_list";
@import "link_detail";
